// HEADER/MAIN COLOURS
$bg-colour: rgb(255, 255, 255);
$header-bg-colour: rgb(235, 235, 235);
$header-colour: rgb(141, 141, 141);

// GOOGLE COLOURS
$google-red: rgb(219, 68, 55);
$google-blue:   rgb(66, 133, 244);
$google-yellow: rgb(244, 180, 0);
$google-green:  rgb(15, 157, 88);

// RESULTS SECTION COLOURS
$grid-bg-colour: rgb(236, 236, 236);